*{
    padding: 0px;
    margin: 0px;
}

.rest-articles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr)
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    grid-gap: 10px; /* gap between grid items */
}
  
.grid-item {
    
}
  
.navbar-brand{
    color:red;
}
.tiny-title{
    font-size: 17px;
}
.big-title{
    font-size: 37px;
    font-weight: 900;
}
.middle-title{
    font-size: 17px;
    font-weight: 700;
}

.article-pic{
    width: 100%;
    height: auto;
    max-height: 200px;
}

.latest_article_image{
    max-width: 100%;
    max-height: 400;
}



.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: background-color 0.5s ease;
    z-index: 999;
  }
.navbar.transparent {
    background-color: transparent;
  }
  
  .navbar.white {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


@media only screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for screens smaller than 600px */
  }
}

@media only screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 column for screens smaller than 400px */
  }
}